body {
    background-image: url('pokedex_background.png');
}

h1 {
    color: white;
}

div {
    text-align: center;
}

img {
    align-self: center;
}

h2 {
    color: white;
}

input[type=search]{
    margin-top: 300px;
    align-self: center;
    width: 20%;
    height: 25px;
}

input[type=submit]{
    height: 50px;
    margin-top: 100px;
}

.success_message{
    color: white;
}