<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="../static/pokedex-favicon.jpg" type="image/jpg">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta charset="UTF-8">
    <title>Pokedex</title>
</head>
<body>
<div>
<h1>Pokedex</h1>

    {% for message in messages %}
        <div class="success_message" role="alert">
            <h2>{{ message }}</h2>
        </div>
    {% endfor %}

<form method='post' action="{% url 'pokemon' %}">
    {% csrf_token %}
    <input type="search" list="pokemons" placeholder="Search Pokemon" aria-label="Search" name="searched">
        <datalist id="pokemons">
            {% for pokemon in pokemons %}
                <option value="{{ pokemon.name }}"></option>
            {% endfor %}
        </datalist>
    <button type="submit">Search</button>
</form>

<form method='get' action='#'>
    <input type="submit" value="Update Database" name="Update Database"/>
</form>
</div>

</body>
</html>